.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.socialmedia{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
}